@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,200;1,14..32,200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
}
img {
    width: 100%;
}

.container {
    max-width: min(90%, 1300px);
    margin-inline: auto;
}
header {
    transform: none;
    z-index: 1111111111111111111111111111;
    height: 4rem;
    background-color: transparent;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
}

img {
    width: 100%;
}
a{
    text-decoration: none;
    color: #ffffff;
}
.desk-menus {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem;
    z-index: 11111111111111;

}

.desk-menus .logo img {
    height: 40px;
}

.desk-menus .menus-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

.menus-links li {
    list-style: none;
    padding: 0.625rem;
}

.menus-links li a {
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 17px;
    margin-left: 17px;
}

.header-btn {
    height: 3.125rem;
    width: 7rem;
    background-color: #f99731;
    color: #ffffff;
    border: none;
    font-size: 1.25rem;
    font-weight: 400;
    border-radius: 0.625rem;
}

.search-icon {
    font-size: 1rem;
    color: #ffffff;
    font-weight: 500;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 1.25rem;
    margin-left: 1rem;
}

.humbergur {
    display: none;
    width: 3.25rem;
    height: 3.25rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0.3rem;
    right: 3%;
    font-size: 2rem;
    border-radius: 50%;
    color: #F99131;
    background-color: #ffffff;
    padding: 0.625rem;
    text-align: center;
    cursor: pointer;
    z-index: 11111111111111;
}

.mobile-menu {
    display: none;
    flex-direction: column;

    gap: 0.625rem;
    background-color: #f99731;
    height: auto;
    padding: 0.625rem;
    text-align: center;
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 4rem;
    width: 70%;
    transform: translateX(0%);
    transition: 0.7s ease-in-out;


}

.mobile-menu[data-visible="false"] {
    transform: translateX(100%);
}

.humbergur i[data-visible="true"] {
    display: block;
}

.humbergur i[data-visible="false"] {
    display: none;
}

.mobile-menu .social-links {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    font-size: 1.25rem;

}

.mobile-menu .social-links li {
    list-style: none;

}

.mobile-menu .social-links li a {
    text-decoration: none;
    padding: 0 1rem;
    color: #000;
}

.mobile-menu .social-links li a:hover {
    background-color: blue;
    color: #ffffff;
}

.mobile-menu footer {
    text-align: center;
    font-size: 1.25rem;
    color: #ffffff;
    padding: 0.625rem;
}

.About_header{
    height: 2.625rem;
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0,0,0,0.1);
}
.About_header .info_about{
    display: flex;
    padding: 10px;
    gap: 0.625rem;
    align-items: center;
   
}
.About_header .arrows{
    font-size: 14px;
    line-height: 14px;
    font-weight: 900;
    color: #666666;
}
.About_header span{
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: #666666;
}
.info_about .home i{
    color: #000;
    cursor: pointer;
}

.info_about .home i:hover{
    color: #e8a931;
}

.mini_footer {
    height: 600px;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    z-index: -1;
    margin-top: -150px;
    background-color: #f5f5f5;
}

.mini_footer .info_footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.info_footer_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.img_logo{
    margin-top: 30px;
    margin-bottom: 40px;
    width: 140px;
}

.social_link{
    
    text-align: left;
    display: table;
    margin-right: auto;
    position: relative;
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.social_link i{
    color: #ffffff;
    background-color: transparent;
    background-image: linear-gradient(0deg, #f99131, #f9b431);
    padding: 1.25rem;
    margin-right: 10px;
    font-size: 1.25rem;
    border-radius: 50%;
    
    box-shadow: 0px 0px 15px 0px rgba(249, 145, 49, 0.2);
}
.info_footer_left .des{
    font-size: 16px;
    line-height: 1.4;
    text-align: justify;
}
.social_link:hover{
    background-image: linear-gradient(0deg,#333, #333);
    color: #f5f5f5;
    transition: ease-in-out 0.3s;
}
.info_footer_middle{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 0 30px;
    padding: 20px;
    z-index: 1;
    margin-top: 3rem;
    transition: all .2s ease-in-out;
    width: 100%;
    justify-content: center;
    color: #555555;
}
.footer_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.625rem;

}
.middle_title{
        font-size: 1.5rem;
        color: #f99131;
        padding-bottom: 1.5rem;
        margin-bottom:3.75rem;
        font-weight: 600;
        letter-spacing: -1px;
        border-bottom: 1px solid rgba(51, 51, 51, 0.12);
        position: relative;
}
.footer_title .line{
    background-color: #f9b431;
    width: 38px;
    height: 5px;
    position: absolute;
    height: 5px;
    bottom: -2px;
}
.info_middle{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.info_middle .left_middle_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    grid-area: 0.625rem;
    padding:0 0.625rem;
    
}
.left_middle_footer a{
    color: #555555;
}
.left_middle_footer  i {
    color: #f99131;
    padding: 0.625rem;
}


.info_middle .right_middle_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    grid-area: 0.625rem;
    padding:0 0.625rem;
    
}
.right_middle_footer a{
    color: #555555;
}
.right_middle_footer  i {
    color: #f99131;
    padding: 0.625rem;
}
.info_footer_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
ul.cz_stylish_list {
    margin: 0;
    padding: 0;
    list-style: none !important;
}
ul.cz_stylish_list li {
    position: relative;
    margin: 0 0 10px;
    display: list-item;
    width: 100%;
    transition: all .2s ease-in-out;
}
.cz_stylish_list .cz_sl_icon {
    vertical-align: top;
}
#cz4046 i {
    font-size: 16px;
    color: #ffffff;
    background-color: transparent;
    background-image: linear-gradient(0deg, #f99131, #f9b431);
    padding: 15px;
    border-radius: 99px;
}
#cz4046 i:hover{
    color: #F99131;
    background-color: transparent;
    background-image: linear-gradient(0deg, #444444, #444444);
}
.cz_stylish_list li>div, .cz_stylish_list li>a>div {
    color: inherit;
    display: table-cell;
    
    vertical-align: middle;
    text-decoration: inherit;
}
li>div>span {
    line-height: 1.6px;
    display: block;
    padding: 10px;

}

.buttom_footer{
    display: flex;
    background-color: #333333;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
  }
  .buttom_footer span{
      font-size: 14px;
      font-weight: 400;
  }
  
  .mobile_footer{
      display: none;
      background-color: #333333;
      padding: 20px;
      justify-content: center;
      align-items: center;
  }
  .mobile_footer span{
      font-size: 14px;
      font-weight: 400;
      color: #ffffff;
  }


.social-media {
    display: flex; 
    gap: 10px;
  }
.fa-brands {
    padding: 15px;
    background-color: #f99131;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
}
.fa-brands:hover {
    background-color: rgb(51, 51, 51);
}
.mobile-footer {
    display: none;
}


/* Contact section */

.hero-contact {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
}
.hero-contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.hero-contact-content img {
    width: 50px;
    height: 30px;
    align-items: center;
}


.hero-contact-content h1 {
    font-size: 2rem;
}
.hero-contact-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.contact-address {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-out, height 0.3s ease-out;
}
.contact-address:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
}
.contacts {
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.fa-envelope {
    padding: 15px;
    background-image: linear-gradient(90deg, #f99131, #f9b431);
    color: #ffffff;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 20px;
}
.fa-phone {
    padding: 15px;
    background-image: linear-gradient(90deg, #f99131, #f9b431);
    color: #ffffff;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 20px;
}
.fa-location-dot {
    padding: 15px 18px;
    background-image: linear-gradient(90deg, #f99131, #f9b431);
    color: #ffffff;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 20px;
}
.contact-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #555555;
    font-size: 1.2rem;
    text-align: center;
}
.contact-email h2 {
   color: #f99b31;
   font-size: 2rem;
}
.social-contacts {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
    gap: 10px;
}
.social-contacts #envelope {
    padding: 15px;
    background-color: #f99131;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
}
.map-form-contact {
    width: 100%;
    height: 100%;
}
.map iframe {
    width: 100%;
    height: 650px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.contact-form {
    display: flex;
    background: #fff;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    margin-top: -167px;
    margin-top: 40px;
}
.contacts-form {
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: center;
    
    margin-top: 40px;
}

.contact-form input,
.contact-form textarea,
.contact-form .form-dropdown {
    padding: 10px 50px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    box-sizing: border-box;
    margin-left: 10px;
}
.contact-form .form-dropdown {
    padding: 10px 70px;
}
.contact-form textarea {
    margin-top: 20px;
}
.contact-form select {
    appearance: none;
    cursor: pointer;
    background-color: #fff;
    color: #A7A7A7;
}
.submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 80px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.contact-form .submit-btn {
    padding: 10px 20px;
    background-color: #f90; 
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.contact-form .submit-btn:hover {
    background-color: #333333; 
}


#message {
    width: 100%;
    height: 150px;
    resize: vertical;
}

.appointments-cta {
    width: 100%;
    padding: 20px;
    height: 339px;
    background-image: linear-gradient(90deg, #f99131, #f9b431);
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.appointments-cta ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    color: #f5f5f5;
}
.appointments-cta ul li {
    display: flex;
    align-items: center;
    gap: 20px;
}
.fa-phone-volume {
    padding: 22px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
}
.appointments-cta span {
    font-size: 2rem;
    font-weight: 700;
}
.call-us-btn button {
   border: none;
    padding: 25px;
    background-color: #333;
    color: #f5f5f5;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 700;
}
.call-us-btn button:hover {
    background-color: #f5f5f5;
    cursor: pointer;
    color: #f9b431;
    transition: 0.3s;
}

/* Responsive */
@media (min-width:769px) and (max-width:854px) {
    
    .humbergur {
        display: block;

    }

    .desk-menus .menus-links,
    .search-icon,
    .header-btn {
        display: none;
    }

    .desk-menus .logo {
        left: 0%;
        position: fixed;
        padding: 0.625rem;
    }

    header {
        background-color: #f99731;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .mobile-menu {
        display: flex;
        height: 100vh;
    }

    .mobile-menu .menus-links a {
        width: 100%;
        font-size: 1.25rem;
        color: #000;
        font-weight: 500;
    }

    .mobile-menu .social-links {
        display: flex;
    }



    .mini_footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        
    }
    .mini_footer .info_footer{
        grid-template-columns: 1fr;
        align-items: center;
        text-align: center;
        width: 100%;
        justify-content: center;
        margin-top: 200px;
    }
    .info_footer_middle{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info_footer_middle .info_middle{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info_footer .info_footer_left{
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 20px;
    }

    .info_footer .info_footer_left .des{
        text-align: center;
    }
    .info_footer .info_footer_left .social_link{
        text-align: center;
        margin: 0;
    }
    .info_footer_right{
        align-items: center;
        text-align: center;
        margin-bottom: 2rem;
    }
    ul.cz_stylish_list li{
        display: flex;
        flex-direction: column;
        gap: 2rem;
   
    }

    .mobile_footer{
        display: block;
        width: 100%;
    }

    .buttom_footer{
        display: none;
    }



      .mobile-footer {
        display:flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
      
        color: #ffffff;
        background-color: #282828;
        position: sticky;
        bottom: 0;
      }
    
.hero-contact-grid {
    grid-template-columns: 1fr;
}
.contact-form {
    display: flex;
    flex-direction: column;
}
.map-form-contact {
    flex-direction: column;
}

.map,
.contact-form {
    flex: 1 1 100%;
}
.submit {
    padding: 0 150px;
}
.appointments-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.appointments-cta ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    color: #f5f5f5;
}
.appointments-cta ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.fa-phone-volume {
    padding: 22px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    font-size: 1rem;
    cursor: pointer;
}
.call-us-btn button {
     font-size: 1rem;
     font-weight: 500;
     margin-top: 20px;
 }

  .footer {
    display: flex;
    justify-content: center;
}
  .mobile-footer {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

  }
  .mobile-footer img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid #f99b31;
  }
  .mobile-contact {
    display: flex;
    flex-direction: column;
    color: #ffffff;
  }
} 

@media (max-width:480px) {
    .humbergur {
        display: block;

    }

    .desk-menus .menus-links,
    .search-icon,
    .header-btn {
        display: none;
    }

    .desk-menus .logo {
        left: 0%;
        position: fixed;
        padding: 0.625rem;
    }

    header {
        background-color: #f99731;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .mobile-menu {
        display: flex;
        height: 100vh;
    }

    .mobile-menu .menus-links a {
        width: 100%;
        font-size: 1.25rem;
        color: #000;
        font-weight: 500;
    }

    .mobile-menu .social-links {
        display: flex;
    }



    .mini_footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        
    }
    .mini_footer .info_footer{
        grid-template-columns: 1fr;
        align-items: center;
        text-align: center;
        width: 100%;
        justify-content: center;
        margin-top: 200px;
    }
    .info_footer_middle{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info_footer_middle .info_middle{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info_footer .info_footer_left{
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 20px;
    }

    .info_footer .info_footer_left .des{
        text-align: center;
    }
    .info_footer .info_footer_left .social_link{
        text-align: center;
        margin: 0;
    }
    .info_footer_right{
        align-items: center;
        text-align: center;
        margin-bottom: 2rem;
    }
    ul.cz_stylish_list li{
        display: flex;
        flex-direction: column;
        gap: 2rem;
   
    }

    .mobile_footer{
        display: block;
        width: 100%;
    }

    .buttom_footer{
        display: none;
    }




    .next {
       margin-top: 50px;
    }
    
      .mobile-footer {
        display:flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
      
        color: #ffffff;
        background-color: #282828;
        position: sticky;
        bottom: 0;
      }
      .mobile-footer {
        display:flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
      .mobile-footer img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 4px solid #f99b31;
      }
      .mobile-contact {
        display: flex;
        flex-direction: column;
        color: #ffffff;
      }

    /* Contact responsive */

    .hero-contact-grid {
        grid-template-columns: 1fr;
}
.hero-contact-content h1 {
    font-size: 2.5rem;
    text-align: center;
}
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.contact-form .submit-btn {
    padding: 10px 25px;
    background-color: #f90; 
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 14px;
}
.submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
}
.appointments-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.appointments-cta ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    color: #f5f5f5;
}
.appointments-cta ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.appointments-cta span {
    font-size: 2rem;
    text-align: center;
    
    font-weight: 700;
}
.fa-phone-volume {
    padding: 22px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    font-size: 1rem;
    cursor: pointer;
}
.call-us-btn button {
     font-size: 1rem;
     font-weight: 500;
     margin-top: 20px;
 }
}
